{% extends "base.html" %}
{% load static %}


{% block footer_css %}
<link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}


{% block container %}

{% comment %} <div class="mt-5 pt-5 bg-light custom-shadow rounded"> {% endcomment %}
    <h1  class="display-1 font-weight-bolder mt-5 pt-5 text-center "  ><strong> {{content}}</strong> </h1>
{% comment %} </div> {% endcomment %}

{% endblock %}
-
{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Savesta 2023</p>
    </div>
</footer>
{% endblock footer %}












