{% extends "main/base.html" %}
{% load static %}



{% block footer_css %}
<link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block container %}

<div class="mt-5 pt-5 bg-$grays: (
  "100": $gray-100) custom-shadow rounded">
    <h1 class="m-2"><strong> {{content}}</strong></h1>
</div>

{% endblock %}
-
{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Savesta 2023</p>
    </div>
</footer>
{% endblock footer %}












